## DHT Tankers Advanced model

In this model, we improve on our crude excel model by taking into account the already-chartered ships, using data from the TankersInternational twitter feed.

If you can't be bothered to set up tweepy, skip to the fourth cell to use the values I downloaded.

In [1]:
import tweepy
from datetime import datetime, date, time, timedelta
import pickle
import re
import pandas as pd

In [9]:
# Register for a twitter dev account and copy your keys
consumer_key=""
consumer_secret=""
access_token=""
access_token_secret=""

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
auth_api = tweepy.API(auth)

In [ ]:
target="TankersInt"
print("Getting data for " + target)
item = auth_api.get_user(target)
print("name: " + item.name)
print("screen_name: " + item.screen_name)
print("description: " + item.description)
print("statuses_count: " + str(item.statuses_count))
print("friends_count: " + str(item.friends_count))
print("followers_count: " + str(item.followers_count))

# Download recent tweets
stati = []
end_date = datetime.utcnow() - timedelta(days=120)
count = 0
for status in tweepy.Cursor(auth_api.user_timeline, id=target, tweet_mode="extended").items():
    count += 1
    if count % 50 == 0:
        print(count)
    stati.append(status)
    if status.created_at < end_date:
        break
        
with open("dht_twitter_raw.pickle", "wb") as f:
    pickle.dump(stati, f)

In [2]:
with open("dht_twitter_raw.pickle", "rb") as f:
    statuses = pickle.load(f)

In [3]:
dht_statuses = []
for s in statuses:
    if "#" in s.full_text:
        continue
    if "what " in s.full_text.lower():
        continue
    if " of 10" in s.full_text or "10/10" in s.full_text:
        continue
    if s.in_reply_to_status_id is not None:
        continue
    if "DHT" in s.full_text:
        dht_statuses.append((s.created_at, s.full_text))

In [4]:
len(dht_statuses)

30

In [5]:
dht_statuses

[(datetime.datetime(2020, 4, 24, 8, 24, 48),
  'DHT Edelweiss (2008 - Modern VLSFO) On Subs Brazil/China WS 132.50 Repsol May 27-29 Trafigura [Oil Company or Trader Relet] (TCE: RV USD 154.97K @ 78.96 days / Actual USD 152.39K @ 80.12 days) 0.01 idle days'),
 (datetime.datetime(2020, 4, 23, 7, 31, 32),
  'DHT Falcon (2006 - Modern Scrubber) On Subs WAfr/China WS 155.00 Day Harvest May 21-22 DHT Management Demurrage USD 155K (TCE: RV USD 174.41K @ 75.72 days / Actual USD 193.49K @ 68.79 days) 0.75 idle days'),
 (datetime.datetime(2020, 4, 7, 8, 14, 23),
  'DHT Taiga (2012 - Modern Scrubber) On Subs Brazil/China WS 127.50 Petrogal May 1-5 Phillips 66 (TCE: RV USD 147.46K @ 76.92 days / Actual USD 166.29K @ 69.2 days) 0 idle days'),
 (datetime.datetime(2020, 4, 6, 8, 10, 14),
  'DHT Tiger (2017 - Modern VLSFO) On Subs Brazil/China WS 150.00 Petrobras May 2-3 DHT Management (TCE: RV USD 175.81K @ 82.3 days / Actual USD 180.57K @ 80.73 days) 6.05 idle days'),
 (datetime.datetime(2020, 3, 30, 16, 58, 16),
  'DHT Hawk (2007 - Modern Scrubber) On Subs AG/China WS 205.00 Hengli Apr 17-19 DHT Management (TCE: RV USD 236.13K @ 50.37 days / Actual USD 233.24K @ 51.05 days) 2.46 idle days'),
 (datetime.datetime(2020, 3, 27, 17, 38, 51),
  'DHT Hawk (2007 - Modern Scrubber) On Subs AG/USGviaCOGH WS 110.00 Bahri Oil Transportation Apr 20-22 DHT Management (TCE: RV USD 144.03K @ 78.15 days / Actual USD 174.44K @ 68.26 days) 3.29 idle days'),
 (datetime.datetime(2020, 3, 27, 9, 21, 48),
  'DHT Stallion (2018 - Modern VLSFO) On Subs USG/Spore $14,000,000 Vitol May 10-12 DHT Management (TCE: RV USD 134K @ 86.79 days / Actual USD 121.5K @ 90.96 days) 0 idle days'),
 (datetime.datetime(2020, 3, 26, 18, 39, 43),
  'DHT Mustang (2018 - Modern Scrubber) On Subs USG/Korea $14,000,000 BP Apr 28-May 2 DHT Management (TCE: RV USD 118.85K @ 98.83 days / Actual USD 122.99K @ 95.8 days) 0.11 idle days'),
 (datetime.datetime(2020, 3, 25, 17, 51, 34),
  'DHT Jaguar (2015 - Modern VLSFO) On Subs Brazil/China WS 98.00 Petrobras Apr 20-21 DHT Management Demurrage USD 96.6K (TCE: RV USD 111.36K @ 79.78 days / Actual USD 109.04K @ 81.26 days) 0.4 idle days'),
 (datetime.datetime(2020, 3, 25, 16, 48, 34),
  'DHT Redwood (2011 - Modern VLSFO) On Subs AG/China WS 102.50 Northern Petroleum Apr 13-15 DHT Management [Ex dry-dock] (TCE: RV USD 129.5K @ 36.91 days / Actual USD 113.84K @ 41.91 days) 3.08 idle days'),
 (datetime.datetime(2020, 3, 25, 11, 33, 32),
  'DHT Mustang (2018 - Modern Scrubber) On Subs AG/Malacca WS 95.00 Petronas Apr 5-7 DHT Management (TCE: RV USD 102.81K @ 27.68 days / Actual USD 80.37K @ 34.05 days) 1.56 idle days'),
 (datetime.datetime(2020, 3, 25, 9, 33, 32),
  'DHT Lake (2004 - +15 Years Scrubber) On Subs AG/Thailand WS 80.00 PTT Apr 8-10 DHT Management [+16 years old vessel] (TCE: RV USD 77.21K @ 35.2 days / Actual USD 70.13K @ 38.62 days) 4.12 idle days'),
 (datetime.datetime(2020, 3, 19, 16, 35, 40),
  'DHT Jaguar (2015 - Modern VLSFO) On Subs AG/BrazilviaCOGH WS 110.00 Petrobras Apr 14 DHT Management (TCE: RV USD 133.34K @ 55.04 days / Actual USD 130.53K @ 56.84 days) 7.19 idle days'),
 (datetime.datetime(2020, 3, 13, 12, 37, 14),
  'DHT Lake (2004 - +15 Years Scrubber) On Subs AG/China WS 215.00 Day Harvest Apr 5-7 DHT Management [+16 years old vessel] Demurrage USD 240K (TCE: RV USD 251.16K @ 46.56 days / Actual USD 280.42K @ 41.95 days) 0.52 idle days'),
 (datetime.datetime(2020, 3, 11, 14, 21, 56),
  'DHT Opal (2012 - Modern VLSFO) On Subs AG/China WS 155.00 Hengli Mar 28-30 DHT Management Demurrage USD 150K (TCE: RV USD 183.65K @ 42.08 days / Actual USD 186.74K @ 41.39 days) 0 idle days'),
 (datetime.datetime(2020, 3, 10, 15, 41, 48),
  'DHT Panther (2016 - Modern VLSFO) On Subs AG/Korea WS 80.00 S-Oil Mar 30-31 DHT Management Demurrage USD 75K (TCE: RV USD 86.59K @ 44.22 days / Actual USD 88.61K @ 43.29 days) 0 idle days'),
 (datetime.datetime(2020, 3, 10, 15, 7, 47),
  'DHT Edelweiss (2008 - Modern VLSFO) On Subs AG/Korea WS 73.50 S-Oil Mar 28-30 DHT Management (TCE: RV USD 69.84K @ 47.7 days / Actual USD 74.92K @ 45.55 days) 2.48 idle days'),
 (datetime.datetime(2020, 2, 26, 9, 8, 58),
  'DHT Lotus (2011 - Modern Scrubber) On Subs WAfr/China WS 47.50 CSSA Mar 23-25 DHT Management (TCE: RV USD 35.96K @ 71.87 days / Actual USD 38.77K @ 68.53 days) 1.76 idle days'),
 (datetime.datetime(2020, 2, 25, 9, 27, 51),
  'DHT Tiger (2017 - Modern VLSFO) On Subs AG/USWC WS 32.00 Chevron Houston Mar 10 DHT Management Demurrage USD 36K (TCE: RV USD 13.17K @ 87.76 days / Actual USD 28.38K @ 66.11 days) 2.08 idle days'),
 (datetime.datetime(2020, 2, 20, 9, 0, 8),
  'DHT Raven (2004 - +15 Years Scrubber) On Subs AG/Thailand WS 40.50 PTT Mar 4-6 DHT Management [+16 years old vessel] (TCE: RV USD 22.34K @ 35.09 days / Actual USD 21.37K @ 36.33 days) 0.17 idle days'),
 (datetime.datetime(2020, 2, 18, 9, 47, 49),
  'DHT Lake (2004 - +15 Years Scrubber) On Subs AG/Thailand WS 40.00 PTT Mar 1-3 DHT Management [+16 years old vessel] (TCE: RV USD 23.8K @ 35.31 days / Actual USD 15.74K @ 44.12 days) 1.65 idle days'),
 (datetime.datetime(2020, 2, 14, 8, 31, 14),
  'DHT Peony (2011 - Modern Scrubber) On Subs Brazil/China WS 44.00 Repsol Mar 8-10 DHT Management Demurrage USD 37.5K (TCE: RV USD 31.74K @ 75.69 days / Actual USD 38.05K @ 67.44 days) 0.07 idle days'),
 (datetime.datetime(2020, 2, 6, 17, 20, 7),
  'DHT Falcon (2006 - Modern Scrubber) Failed USG/Spore $5,500,000 Chevron Houston Mar 8-12 DHT Management (TCE: RV USD 29.28K @ 91.56 days / Actual USD 20.72K @ 113.9 days) 10.29 idle days'),
 (datetime.datetime(2020, 2, 3, 9, 17, 39),
  'DHT Leopard (2016 - Modern VLSFO) Fully Fixed USG/Spore $7,250,000 ATMI Mar 6-8 DHT Management Demurrage USD 70K (TCE: RV USD 38.55K @ 88.98 days / Actual USD 29.81K @ 95.13 days) 1.88 idle days'),
 (datetime.datetime(2020, 1, 31, 15, 12, 16),
  'DHT Mustang (2018 - Modern Scrubber) On Subs AG/Taiwan WS 54.50 CPC Feb 14-16 DHT Management Demurrage USD 43K (TCE: RV USD 44.21K @ 39.83 days / Actual USD 35.57K @ 46.85 days) 1.67 idle days'),
 (datetime.datetime(2020, 1, 28, 18, 12, 48),
  'DHT Falcon (2006 - Modern Scrubber) On Subs Brazil/China WS 68.00 Shell Western Supply and Trading Limited Feb 25-27 DHT Management (TCE: RV USD 57.67K @ 80.08 days / Actual USD 47.2K @ 95.67 days) 12.29 idle days'),
 (datetime.datetime(2020, 1, 17, 13, 27, 31),
  'DHT Panther (2016) On Subs AG/Korea WS 87.50 (RV TCE USD 70K/day) GS Caltex Oil Corp. Feb 4-6 DHT Management'),
 (datetime.datetime(2020, 1, 17, 13, 26, 31),
  'DHT Condor (2004) On Subs AG/Korea WS 77.50 (RV TCE USD 71K/day) GS Caltex Oil Corp. Feb 1-3 DHT Management [+15 years old vessel]'),
 (datetime.datetime(2020, 1, 16, 20, 6, 26),
  'DHT Falcon (2006) Failed USG/Spore $10,650,000 CSSA Feb 18-19 DHT Management'),
 (datetime.datetime(2019, 12, 30, 13, 1, 29),
  'DHT Opal (2012) On Subs AG/Vietnam WS 135.80 (RV TCE USD 122K/day) NSRP Jan 11 DHT Management')]

In [6]:
data = []
for date, status in dht_statuses:
    if "Failed" in status:
        continue
    row = [date]
    # Ship name
    row.append(re.findall(r"(DHT \w+)", status)[0])
    # Status
    row.append(re.findall(r"\) (.*?) \w+/\w+", status)[0])
    # Source/dest
    trip = re.findall(r"\w+/\w+", status)[0]
    source, dest = trip.split("/")
    row += [source, dest]
    # Start date?
    row.append(re.findall(r"\b(?:Jan?|Feb?|Mar?|Apr?|May?|Jun?|Jul?|Aug?|Sep?|Oct?|Nov?|Dec?) \d{0,2}", status)[0])
    # USD daily rate
    try:
        row.append(float(re.findall(r"Actual USD (\d+.\d+)", status)[0]))
    except IndexError:
        row.append(float(re.findall(r"(\d*\.\d+|\d+)K/day", status)[0]))
    try:
        # Number of days
        row.append(float(re.findall(r"@ (\d+.\d+) days", status)[1]))
    except IndexError:
        continue
    # Idle days
    row.append(float(re.findall(r"([\d+.\d+]) idle days", status)[0]))
    data.append(row)

In [7]:
df = pd.DataFrame(data, columns=["Date", "Ship", "Status", "Source", "Dest", "Start", "Rate", "Days", "IdleDays"])

In [8]:
df.head()

,Date,Ship,Status,Source,Dest,Start,Rate,Days,IdleDays
0,2020-04-24 08:24:48,DHT Edelweiss,On Subs,Brazil,China,May 27,152.39,80.12,1.0
1,2020-04-23 07:31:32,DHT Falcon,On Subs,WAfr,China,May 21,193.49,68.79,5.0
2,2020-04-07 08:14:23,DHT Taiga,On Subs,Brazil,China,May 1,166.29,69.20,0.0
3,2020-04-06 08:10:14,DHT Tiger,On Subs,Brazil,China,May 2,180.57,80.73,5.0
4,2020-03-30 16:58:16,DHT Hawk,On Subs,AG,China,Apr 17,233.24,51.05,6.0

In [9]:
fleet = ["DHT Mustang",
"DHT Bronco",
"DHT Colt",
"DHT Stallion",
"DHT Tiger",
"DHT Puma",
"DHT Panther",
"DHT Lion",
"DHT Leopard",
"DHT Jaguar",
"DHT Opal",
"DHT Sundarbans",
"DHT Taiga",
"DHT Peony",
"DHT Lotus",
"DHT Amazon",
"DHT Redwood",
"DHT Edelweiss",
"DHT China",
"DHT Europe",
"DHT Bauhinia",
"DHT Hawk",
"DHT Scandinavia",
"DHT Falcon",
"DHT Lake",
"DHT Raven",
"DHT Condor",]

table = pd.DataFrame(index=fleet, columns=list(range(365)))

In [10]:
table.head()

,0,1,2,3,4,5,6,7,8,9,...,355,356,357,358,359,360,361,362,363,364
DHT Mustang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Bronco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Colt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Stallion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Tiger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Chartered as of end 2019
ships = ["DHT " + s for s in {"Amazon", "China", "Sundarbans", "Taiga"}]

# 4 ships, plus lotus for a quarter
rate = 47413/4.25/365
for ship in ships:
    table.loc[ships] = rate

# Treat DHT lotus specially
table.loc["DHT Lotus", 0:90] = rate

In [12]:
# Chartered as of Apr 1: 6 ships @ 67.3k
ships = ["DHT " + s for s in {"Lake", "Raven", "Scandinavia","Bauhinia", "Edelweiss", "Lion"}]
rate = 67.3
start_day = datetime.strptime("Apr 01", "%b %d").timetuple().tm_yday

for ship in ships:
    table.loc[ship, start_day:] = rate

In [13]:
# Pre-existing charters
table.sum(axis=1)

DHT Mustang            0.000000
DHT Bronco             0.000000
DHT Colt               0.000000
DHT Stallion           0.000000
DHT Tiger              0.000000
DHT Puma               0.000000
DHT Panther            0.000000
DHT Lion           18440.200000
DHT Leopard            0.000000
DHT Jaguar             0.000000
DHT Opal               0.000000
DHT Sundarbans     11156.000000
DHT Taiga          11156.000000
DHT Peony              0.000000
DHT Lotus           2781.358904
DHT Amazon         11156.000000
DHT Redwood            0.000000
DHT Edelweiss      18440.200000
DHT China          11156.000000
DHT Europe             0.000000
DHT Bauhinia       18440.200000
DHT Hawk               0.000000
DHT Scandinavia    18440.200000
DHT Falcon             0.000000
DHT Lake           18440.200000
DHT Raven          18440.200000
DHT Condor             0.000000
dtype: float64

In [14]:
# From twitter
for i, row in df.iterrows():
    ship = row["Ship"]
    start_day = datetime.strptime(row["Start"], "%b %d").timetuple().tm_yday
    n_days = int(row["Days"])
    rate = row["Rate"]
    table.loc[ship, start_day:start_day + n_days] = rate

In [15]:
table.sum(axis=1)

DHT Mustang        14815.900000
DHT Bronco             0.000000
DHT Colt               0.000000
DHT Stallion       11056.500000
DHT Tiger          13999.650000
DHT Puma               0.000000
DHT Panther         3898.840000
DHT Lion           18440.200000
DHT Leopard         2861.760000
DHT Jaguar         10820.450000
DHT Opal            7843.080000
DHT Sundarbans     11156.000000
DHT Taiga          20656.793151
DHT Peony           2587.400000
DHT Lotus           5181.409452
DHT Amazon         11156.000000
DHT Redwood         4781.280000
DHT Edelweiss      25952.210000
DHT China          11156.000000
DHT Europe             0.000000
DHT Bauhinia       18440.200000
DHT Hawk           12736.080000
DHT Scandinavia    18440.200000
DHT Falcon         15753.620000
DHT Lake           25026.140000
DHT Raven          18625.190000
DHT Condor             0.000000
dtype: float64

In [16]:
table

,0,1,2,3,4,5,6,7,8,9,...,355,356,357,358,359,360,361,362,363,364
DHT Mustang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Bronco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Colt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Stallion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Tiger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Puma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Panther,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Lion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3
DHT Leopard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Jaguar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Opal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Sundarbans,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,...,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644
DHT Taiga,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,...,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644
DHT Peony,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Lotus,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Amazon,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,...,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644
DHT Redwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Edelweiss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3
DHT China,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,...,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644,30.5644
DHT Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Bauhinia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3
DHT Hawk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Scandinavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3
DHT Falcon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DHT Lake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3
DHT Raven,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3,67.3
DHT Condor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [170]:
# Save to excel
table.fillna(0).to_excel("DHT_tankers_v2.xlsx")